.content {
    width: 80%;
    margin-left: 10%;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 5px;
    padding: 0 15px 10px 15px;
}

.cards-displayed {
    margin: 10px 0;
}

div.add-filter {
    margin-right: -15px;
    margin-left: -15px;
}

div.add-filter button {
    width: 100%;
}

div.row.cards-filter div.col.content-button {
    padding: 0;
}

div.row.cards-filter div.col.content-button button.button-filter {
    background-color: #1c2e46;
    color: rgba(255, 255, 255, 0.75);
    width: 100%;
}

div.row.cards-filter div.col.content-button button.button-filter.select {
    background-color: #ef480e;
}

.filter-container {
    display: none;
    -webkit-transition: top 2s;
    transition: top 2s;
}

.filter-container .filters-title {
    color: white;
    text-align: center;
    background-color: transparent;
    padding: 10px 0;
    margin: 0;
    border-radius: 10px 10px 0 0;
    border-bottom: 2px solid rgb(52, 82, 121);
}

.filter-container.show {
    display: block;
    position: fixed;
    top: 50%;
    left: 20%;
    width: 60%;
    background-color: rgb(28, 46, 70);
    transform: translateY(-50%);
    border-radius: 10px;
    border: 2px solid rgb(52, 82, 121);
    z-index: 13;
}

.filter-black-screen {
    display: none;
}

.filter-black-screen.show {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 12;
}

.filter-list {
    display: flex;
}

.filter-list .list {
    margin: 10px;
}

.filter-list .list .item label {
    color: white;
}

.filter-valid {
    width: 50%;
    margin-left: 25%;
    min-height: 40px;
    background-color: #ef480e;
    color: white;
    font-size: 25px;
}

img.sprite {
    position: absolute;
    top: 2%;
    width: 48%;
    margin-left: 21%;
    height: 46%;
}

.cards-displayed p.name {
    position: absolute;
    top: 51%;
    color: white;
    left: 20%;
    width: 63%;
    font-size: 10px;
    height: 9%;
    text-align: center;
}

.cards-displayed p.desc {
    position: absolute;
    top: 63%;
    color: white;
    left: 23%;
    width: 56%;
    height: 28%;
    font-size: 10px;
    overflow-y: scroll;
}

.cards-displayed p.pv {
    position: absolute;
    top: 86%;
    color: white;
    right: 9%;
    width: 13%;
    text-align: center;
}

.cards-displayed p.atk {
    position: absolute;
    top: 86%;
    color: white;
    left: 10%;
    width: 14%;
    text-align: center;
}
.cards-displayed p.cost {
    position: absolute;
    top: 7%;
    color: white;
    left: 9%;
    width: 14%;
    text-align: center;
}

::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #ef480e; 
    border-radius: 10px;
}