/*styles for home content only*/
.video {
  position: absolute;
  min-width: 100%;
  width: auto;
  height: 100%;
  width: 100%;
  top: 0;
  z-index: -1;
  overflow: hidden;
  background-image: url(../../assets/img/example-news.png);
  background-position-x: 50%;
  background-repeat: no-repeat;
  background-size: cover; }
  .video video {
    display: block;
    min-height: 100%;
    min-width: 100%;
    width: auto;
    height: auto;
    left: 50%;
    top: 50%;
    width: 100%; }
    @media screen and (max-width: 1325px) {
      .video video {
        display: none;
        min-height: 100%;
        min-width: 100%;
        width: auto;
        height: auto;
        left: 50%;
        top: 50%;
        width: 100%; } }

.logo {
  width: 100%;
  padding-top: 6em;
  display: grid; }
  .logo h2 {
    color: white;
    color: white;
    text-align: center;
    font-size: 3em;
    margin-top: 12px; }
  .logo img {
    width: 10em;
    margin-left: auto;
    margin-right: auto; }
    @media screen and (max-width: 500px) {
      .logo img {
        width: 8em; } }
  .logo a.download {
    margin-top: 15px;
    background-color: red;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border-radius: 0;
    font-variant-caps: all-small-caps;
    font-size: 20px;
    font-weight: bold; }
    .logo a.download:hover {
      color: white;
      box-shadow: 3px 3px 5px #888888;
      text-decoration: none; }

.platform {
  position: absolute;
  bottom: 0;
  width: 100%; }
  .platform img {
    width: 5em;
    margin: 0 10px 10px 10px; }
  .platform .right {
    position: absolute;
    right: 10px;
    bottom: 10px; }

section {
  padding-top: 70px; }

.last-news {
  padding-top: 21em; }
  @media screen and (max-width: 1325px) {
    .last-news {
      padding-top: 12em; } }
  .last-news h2 {
    text-align: center;
    font-size: 4em;
    margin-bottom: 1em; }
  .last-news .news-list {
    display: flex;
    width: 100%; }
    .last-news .news-list .news {
      width: 20%;
      margin-left: auto;
      margin-right: auto;
      cursor: pointer; }
      .last-news .news-list .news a {
        display: grid; }
      .last-news .news-list .news:hover {
        box-shadow: 3px 3px 5px #888888; }
      .last-news .news-list .news img {
        width: 100%; }
      .last-news .news-list .news p {
        text-align: center;
        background-color: #AAAAAA;
        color: white;
        padding: 3px 0;
        margin: 0; }
      @media screen and (max-width: 800px) {
        .last-news .news-list .news {
          width: 80%;
          margin: 10px auto; } }
    @media screen and (max-width: 800px) {
      .last-news .news-list {
        display: block; } }
  .last-news .button {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    margin-top: 2em;
    margin-bottom: 2em; }
    .last-news .button .all-news-button {
      display: inline-block;
      vertical-align: middle;
      padding: 6px 1em;
      border-radius: 2px;
      text-align: center;
      text-shadow: none;
      text-decoration: none;
      cursor: pointer;
      -moz-appearance: none;
      color: #fff;
      font-size: 2em;
      background-color: red; }
      .last-news .button .all-news-button:hover {
        box-shadow: 3px 3px 5px #888888; }

.story {
  width: 100%;
  height: 100%;
  background-image: url(../../assets/img/example-news.png);
  background-position-x: 50%;
  background-repeat: no-repeat;
  background-size: cover; }
  .story h2 {
    text-align: center;
    font-size: 4em;
    color: white; }
  .story div {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em; }
    .story div p {
      color: white;
      margin: 4% 0;
      font-size: 1.2em;
      text-align: justify; }
